.cr-courses__item
	width: 262px !important
	height: 324px
	padding: 13px 11px 18px 11px
	margin: 0 26px
	.cr-courses__chose-level
		font-family: $semibold
		font-size: 16px
		letter-spacing: 1.6px
		float: right
		padding: 8px 17px 8px 15px
		border: 2px solid $dark
		margin-right: 3px
		margin: 0
		display: block
		color: $dark
		background: transparent
		-webkit-appearance: none
		-moz-appearance: none
		appearance: none
	.course-start
		font-size: 16px
		font-family: $regular
		letter-spacing: 1.6px
		color: $dark
		margin-bottom: 30px
	.course-price
		font-size: 16px
		font-family: $regular
		letter-spacing: 1.6px
		color: $dark
		margin-bottom: 0
	.discount
		margin: 0 0 5px
		font-family: $light
		font-size: 15px
	.mod-white
		width: 100%
.mode-gray
	background: #eeeeee
	border: 1px solid #fff450
	.cr-courses__title
		margin: 70px 0 50px
		font-family: $bold
		font-size: 18px
		color: $black
		text-transform: uppercase
		letter-spacing: 1.8px
		.mode-yellow
			color: #fff450
		.mode-violet
			color: #be639c
	&:hover		
		background: #be639c
		border: 1px solid #b070b2
		.cr-courses__top
			border: 2px solid $white
			color: $white
		.cr-courses__title
			margin: 70px 0 15px
			font-family: $bold
			font-size: 18px
			color: $black
			text-transform: uppercase
			letter-spacing: 1.8px
			.mode-yellow
				color: $white
			.mode-violet
				color: $white