.cr-header
  position: absolute
  top: 0
  width: 100%
  background: #fff
  z-index: 10
  .cr-horizontal-list
    margin-top: 25px

  .cr-horizontal-list__item
    & + .cr-horizontal-list__item
      margin-left: 40px

.cr-header__link
  padding: 3px 5px
  font-size: 14px
  color: $dark
  font-family: $regular
  text-transform: uppercase
  &:hover, &.mod-active
    text-decoration: none
    border-bottom: 2px solid $black

.cr-header__motto
  text-align: center
  color: $light_gray
  padding-top: 10px
  padding-bottom: 15px
  font-size: 14px
  line-height: 27px
  letter-spacing: .4px

.cr-header__fixed-part
  background-color: #FFF
  border-bottom: 4px solid $dark
  height: 65px
  position: relative
  width: 100%
  &.mod-fixed
    position: fixed
    top: 0

.cr-header__logo
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)

body
  &.header-is-fixed
    padding-top: 65px