.cr-section
  margin-top: 70px
  &.mod-black
    background-color: $black
    .cr-section__header
      padding-top: 80px
      color: #fff
.cr-section__header
  @extend h1
  text-transform: uppercase
  letter-spacing: 13px
  margin-bottom: 30px
.cr-section__header-top
  @extend h2
  text-transform: uppercase
  letter-spacing: 2px
  font-family: $bold