// PORTFOLIO SLIDER
.cr-portfolio-slider
  width: 54%
  display: inline-block
  @include media(tablet)
    width: 100%
    padding-left: 55px
    overflow: hidden
  @include media(mobile)
    width: 100%
    padding: 0
  .slick-slide
    img
      @include media(to_tablet)
        width: 100%
  @include media(to_tablet)
      margin-bottom: 0 !important
  .slick-next, .slick-prev
    bottom: -20px
    z-index: 999
  .slick-dots
    padding-right: 65px
    bottom: 45px
    right: 20px
    text-align: right
    li
      margin: 0 3px
      &.slick-active
        button
          &:before
            color: white
      button
        &:before
          font-size: 13px
          color: $white
    @include media(tablet)
      position: relative
      bottom: 116px
    @include media(mobile)
      bottom: 15px
      text-align: right
      right: 0px
      padding-right: 0
.cr-block-with-img
  text-align: right
  width: 54%
  display: inline-block
  vertical-align:
  overflow: hidden
  &.mod-left-side
    text-align: left
  @include media(tablet)
    position: relative
    width: 100%
    padding-left: 55px
    overflow: hidden
    img
      width: 100%
  @include media(mobile)
    width: 100%
    padding: 0
    img
      width: 100%

.slick-next, .slick-prev
  bottom: -38px
  right: 75px
  top: auto
  transform: none
  &:before
    content: ''
    height: 1px
    width: 22px
    background-color: $dark
    position: absolute
    right: 0
    top: 10px
  &:after
    content: ''
    width: 9px
    height: 9px
    border-top: 1px solid $dark
    border-right: 1px solid $dark
    transform: rotate(45deg)
    position: absolute
    right: 0
    top: 6px
  &:hover
    &:before
      background-color: $light_gray
    &:after
      border-color: $light_gray
.slick-prev
  right: 110px
  left: auto
  &:before
    position: absolute
    left: 0
    right: auto
  &:after
    border-top: 1px solid $dark
    border-right: 1px solid $dark
    transform: rotate(-135deg)
    right: auto
    left: 0
.cr-slider__text-block
  display: inline-block
  width: 45%
  vertical-align: top
  &.mod-left-side
    .cr-black-board
      margin-left: auto
      left: auto
      right: -70px
      margin-top: 42px
      width: 591px
  @include media(to_tablet)
    width: 93%
    background: $dark
    position: relative
    margin-top: -90px
    padding: 36px 35px 32px 67px
  @include media(mobile)
    width: 100%
    padding: 50px 17px 37px
    margin-top: -15px



// PEOPLE SLIDER

.cr-people-slider
  width: 100%
  display: inline-block
  margin-top: 15px
  margin-bottom: 115px
  @include media(mobile)
    padding-left: 12px
  .slick-arrow
    left: -240px
    bottom: 25px
    &:nth-child(2)
      left: -240px !important
      bottom: 0px !important
  .slick-next
    left: -200px
  img
    margin-bottom: 15px
  .slick-dots
    bottom: -33px
    text-align: center
    margin: 0
    li
    margin: 0 3px
    &.slick-active
      button
        &:before
          color: #080808
    button
      &:before
        font-size: 13px
        color: #929292
  .slick-list
    padding-left: 0 !important
.cr-arrow-wrapper
  width: 120px
  position: relative
  //position: relativecr-section__header-desrc
  @extend h3
  text-transform: uppercase
  @include media(to_tablet)
    margin: 0 0 30px
.cr-people__descr
  font-size: 15px
  color: $dark
  letter-spacing: 1.5px

.cr-people__name
  font-family: $bold
  letter-spacing: 1.7px
  font-size: 17px

.cr-partners__logo
  display: block
  margin: 0 auto 163px auto
  @include media(mobile)
    margin: 0 auto 90px auto


.cr-people-slider__header
  font-family: $semibold
  font-size: 20px
  letter-spacing: 2px
  text-align: left
  color: #414042
  position: relative
  bottom: -300px
  text-transform: uppercase
  @include media(to_tablet)
    bottom: 0
    margin-top: 50px

//OUR WORK SLIDER
.cr-our-works
  width: 54%
  display: inline-block
  @include media(tablet)
    width: 100%
    padding-left: 55px
    overflow: hidden
  @include media(mobile)
    width: 100%
    padding: 0cr-black-board
  .slick-slide
    @include media(mobile)
      margin-bottom: 85px
    img
      @include media(to_tablet)
        width: 100%
  .slick-slide>div
    font-size: 14px
    color: $black
    font-family: $light
    padding: 14px 13px
  @include media(to_tablet)
      margin-bottom: 0 !important
  .slick-arrow
    right: 0
  .slick-prev
    bottom: 65px
    right: -26px
  .slick-next
    bottom: 65px
    right: -70px

.cr-block-with-img
  text-align: right
  width: 54%
  display: inline-block
  vertical-align:
  overflow: hidden
  &.mod-left-side
    text-align: left
  @include media(tablet)
    position: relative
    width: 100%
    padding-left: 55px
    overflow: hidden
    img
      width: 100%
  @include media(mobile)
    width: 100%
    padding: 0
    img
      width: 100%


      //Courses slider
.cr-courses-slider
  width: 100%
  display: inline-block
  margin-top: 15px
  margin-bottom: 70px
  @include media(mobile)
    padding-left: 12px
  .slick-next
    right: 45px
  .slick-prev
    right: 90px
    left: auto
    &:nth-child(2)
      left: -240px !important
      bottom: 0px !important
  img
    margin-bottom: 15px

.slick-slide
  img
    transition-duration: 0.2s
    &:hover
      transform: scale(1.02, 1.02)
