@keyframes bg-size
    from {transform: scale(1)}
    to {transform: scale(1.05, 1.05)}
.slick-list
  padding-bottom: 20px
  @include media(mobile)
    padding-bottom: 0px
.cr-course-block
  background-color: $white
  width: 100%
  padding: 43px 67px
  @include media(to_tablet)
    padding: 30px 60px
  .cr-type-select
    margin-top: 18px
    float: right
  .cr-flex-table
    margin-top: 0
  @include media(mobile)
    padding: 23px 15px 80px 15px
.cr-hero-container
  height: 620px
  position: relative
  .cr-hero
    height: 620px
    width: 200%
    background-image: url('~/../src/images/course-hero.jpg')
    background-repeat: repeat-x
    background-size: cover
    background-attachment: fixed
    background-center: left
    animation-name: bg-size
    animation-duration: 30s
    animation-timing-function: linear
    animation-iteration-count: infinite
    animation-direction: alternate
.cr-course-block__footer
  margin-top: 35px
  &.fixed-to-screen
    display: none
    position: fixed
    width: 100%
    background-color: white
    bottom: 0
    z-index: 999
    left: 0
    margin: 0
    padding: 10px 50px
    .back-to
      margin-top: 10px
.cr-two-columns
  font-size: 18px
  line-height: 1.28
  p
    font-family: $regular
    font-size: 18px
    font-weight: 300
    line-height: 1.28
    color: $dark
    @include media(mobile)
      font-size: 16px
  .t-a-center
    margin-bottom: 26px
  .cr-button-email
.cr-two-columns__header
  font-family: $bold
  font-size: 20.3px
  line-height: 1.17
  letter-spacing: 2px
  text-transform: uppercase

.m-top-25
  margin-top: 20px
.recommended-courses
  top: 0
  margin: 30px 0 50px
.cr-courses__item .slick-cloned
  margin: 0 50px
.no-margin-tablet
  @include media(to_tablet)
    margin: 0
    padding: 0
    width: 100%
.cr-simple-list
  @include media(mobile)
    margin-left: -20px
    font-size: 16px;
