.cr-course-block
  background-color: $white
  width: 100%
  padding: 43px 67px
.cr-course-block__footer
  margin-top: 35px

.cr-two-columns
  font-size: 18px
  line-height: 1.28
.cr-two-columns__header
  font-family: $bold
  font-size: 20.3px
  line-height: 1.17
  letter-spacing: 2px
  text-transform: uppercase

.m-top-25
  margin-top: 20px