.cr-portfolio-slider
  width: 700px
  display: inline-block
.cr-block-with-img
  width: 700px
  display: inline-block
.slick-dots
  

.cr-slider__text-block
  display: inline-block
  width: calc(100% - 710px)
  vertical-align: top
  padding-left: 25px

.cr-text-block__small-title
  @extend h2
  text-transform: uppercase

.cr-text-block__big-title
  @extend h1
  text-transform: uppercase
  letter-spacing: 12.4px

.cr-black-board
  width: 527px
  padding: 43px 31px 70px 73px
  background-color: $dark
  color: #fff
  position: relative
  left: -80px
  p
    font-size: 18px
    margin-bottom: 32px
  .cr-button
    color: #fff
    float: right

.cr-people-slider
  width: calc(100% - 265px)
  display: inline-block
.cr-people-slider__header
  width: 260px
  display: inline-block
  display: inline-block
  @extend h3
  text-transform: uppercase
.cr-people__descr
  font-size: 15px
  color: $dark
  letter-spacing: 1.5px

.cr-people__name
  font-family: $bold
  letter-spacing: 1.7px
  font-size: 17px

.cr-partners__logo
  display: block
  margin: 0 auto 163px auto