@keyframes bg-size
    from {transform: scale(1)}
    to {transform: scale(1.05, 1.05)}
.slick-list
  padding-bottom: 20px
  @include media(mobile)
    padding-bottom: 0px
.cr-course-block
  background-color: $white
  width: 100%
  padding: 43px 67px
  @include media(to_tablet)
    padding: 30px 60px
  .cr-type-select
    margin-top: 18px
    float: right
  .cr-flex-table
    margin-top: 0
  @include media(mobile)
    padding: 23px 15px 0px 15px
  .google-registration
    opacity: 0.5;
    font-family: $light
    font-size: 14px
    font-weight: 300
    line-height: 1.5
    float: right
    color: rgba(8, 8, 8, 0.5)
    margin-top: 10px
.cr-hero-container
  height: 620px
  position: relative
  @include media(to_tablet)
    height: 575px
  @include media(mobile)
    height: 310px
  .cr-hero
    height: 920px
    width: 100%
    background-repeat: repeat-x
    background-size: cover
    background-attachment: fixed
    background-position: center
    background-center: left
    animation-name: bg-size
    animation-duration: 15s
    animation-iteration-count: infinite
    animation-timing-function: linear
    animation-direction: alternate
    @include media(xwide)
      max-height: 820px
    @include media(to_tablet)
      height: 575px
      background-size: 100%
      background-position: top
    @include media(mobile)
      height: 310px
      background-size: 100%
      background-position: top
.cr-course-block__footer
  margin-top: 35px
  &.fixed-to-screen
    display: none
    position: fixed
    width: 100%
    background-color: white
    bottom: 0
    z-index: 999
    left: 0
    margin: 0
    padding: 10px 50px
    .back-to
      margin-top: 10px
.cr-two-columns
  font-size: 18px
  line-height: 1.28
  p
    font-family: $light
    font-size: 18px
    font-weight: 300
    line-height: 1.7
    color: $dark
    @include media(mobile)
      font-size: 16px
  .t-a-center
    margin-bottom: 26px
    margin-top: 50px
    font-family: $regular
  .cr-button-email
.cr-two-columns__header
  font-family: $bold
  font-size: 20.3px
  line-height: 1.17
  letter-spacing: 2px
  text-transform: uppercase
.about-course-our-works .cr-black-board
  @include media(wide)
     margin-top: 50px
     padding-bottom: 90px
.m-top-25
  margin-top: 20px
.no-margin-tablet
  @include media(to_tablet)
    margin: 0
    padding: 0
    width: 100%
.cr-simple-list
  line-height: 2
  // font-family: "Proxima Regular"
  font-size: 18px
  font-weight: 100
  color: #000
  @include media(mobile)
    margin-left: -20px
    font-size: 16px
.display-flex-on-small
  @include media(to_tablet)
    display: flex
    flex-wrap: wrap
  @include media(mobile)
    display: flex
    flex-wrap: wrap
.cr-button-registration
  float: left
  bottom: 40px
  left: -70px
  @include media(to_tablet)
    float: right
    bottom: 40px
    left: 239px
  @include media(mobile)
    float: none
    bottom: 0
    left: 0
.mod-left
  left: -475px
  &:after
    display: none
  &:before
    display: none
  @include media(mobile)
    width: 218px
    margin: 0 auto
    margin-bottom: 38px
    display: block
    padding: 10px
.cr-reviews-slider
  img
    display: inline-block
  .cr-respond-item__content
    display: inline-block
  .slick-arrow
    bottom: 25px
    right: 100px
  .slick-prev
    right: 150px
    z-index: 999
