// @import "variables"
// nav
//   a
//     position: absolute
//     top: 40px
//     right: 40px
//     background-color: white
//     height: 40px
//     width: 40px
// a
//   font-size: 20px
//   color: tomato !important
//   text-decoration: none
//   color: $primary-color !important
//   background-color: grey
// .color-container
//   margin: 100px 0
// .box
//   height: 140px
//   width: 140px
//   display: inline-block
//   margin: 2px
//   transition: 0.2s
//   box-shadow: 3px 3px 10px rgba(0,0,0,0.1)
//   &:hover
//     box-shadow: 3px 3px 10px rgba(0,0,0,0.4)
//     opacity: 0.9
//     transform: translateY(-2px)


// .red
//   background-color: red
// .green
//   background-color: green
// .blue
//   background-color: blue

#courses-list
	position: relative
	padding: 0
	margin: 0
	.close-icon
		top: 110px
		right: 100px
	.contact-page
		background-color: $white
		padding: 10px 15px
	.cta
		margin-top: 12px
		a
			padding: 12px 20px
			color: $light_gray
			border: 1px solid $light_gray
			margin-right: 20px
			letter-spacing: 1.6px
			&:hover
				color: $white
				border: 1px solid $dark
				background-color: $dark
		.active
			color: $white
			border: 1px solid $dark
			background-color: $dark
	.t-bold
		margin: 60px 0 40px
