.cr-hero
  max-height: 620px
  overflow: hidden
  position: relative
  .cr-button--vertical
    position: absolute
    bottom: 26px
    left: 50%
    transform: translate(-50%)
.cr-hero-video
  width: 100%


.cr-white-table
  width: 100%
  font-size: 16px
  margin-bottom: 20px
  th
    padding-bottom: 15px
    font-size: 16px
  tbody
    td
      padding-bottom: 40px
      vertical-align: top
.cr-table__row-caption
  font-family: $bold
  font-size: 16px
  padding-right: 155px
  text-align: right
  letter-spacing: 1.8px
  div
    padding-left: 39px
    padding-right: 16px
.t-col--400
  width: 400px



