.home-page.page-wrapper
  position: relative
.cr-hero
  margin-top: 110px
  z-index: 1
  @include media(wide)
    max-height: 600px
  @include media(xwide)
    max-height: 820px
  overflow: hidden
  position: relative
  @include media(to_tablet)
    margin-top: 0px
  @include media(mobile)
    margin-top: 0px
    height: 309px
    img
      width: 100%
  .cr-button--vertical
    position: absolute
    bottom: 26px
    left: 50%
    transform: translate(-50%)
    z-index: 999
// .cr-hero-video
//   width: 100%
  @include media(mobile)
    width: auto
    height: 309px

.cr-dh-logo
  height: 140px
  width: 100%
  @include media(mobile)
    padding-top: 0

.cr-events-container
  font-size: 16px
  color: $black
.courses-link .row
  position: relative
  margin-bottom: 48px
  margin-left: 0
  margin-right: 0
  padding: 20px 0
.about-course-title
  font-size: 18px
  text-transform: uppercase
.about-course-title
  &:nth-child(2)
    font-size: 16px
    padding-left: 0
    padding-top: 12px
    margin-top: -2px
    @include media(mobile)
      margin-top: -10px !important
      margin-bottom: 50px
.cr-events-container a
  color: $black
.courses-link
  &:hover
    text-decoration: none
  .row
    &:hover
      background: rgba(192, 192, 192, .2)

.t-bold
  margin-top: 12px
.courses-link .row div
  &:last-child
    @include media(mobile)
      margin-top: 20px
.courses-link div
  &:first-child
    @include media(mobile)
      margin-top: 0
.pull-right
  @include media(mobile)
    float: none !important

  .cr-hero-slider
    display: block
    .slick-track
      display: block
      video
        width: 100%