.cr-hero
  max-height: 620px
  @include media(xwide)
    max-height: 820px
  overflow: hidden
  position: relative
  @include media(mobile)
    height: 309px
    img
      width: 100%
  .cr-button--vertical
    position: absolute
    bottom: 26px
    left: 50%
    transform: translate(-50%)
.cr-hero-video
  width: 100%
  @include media(mobile)
    width: auto
    height: 309px

.cr-dh-logo
  padding-bottom: 21px
  @include media(mobile)
    padding-top: 0
